@charset "UTF-8";

body, div, td, th, p, textarea {
	margin: 0;
	padding: 0;
	font: 12px/160% Dotum,'돋움',sans-serif;
	color: #101010;
}
ul, ol, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: disc;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
div {
	display: block;
}
.allWrap {
	overflow: hidden;
	border-top: 1px solid #a1886f;
	border-bottom: 1px solid #a1886f;
	padding: 20px 0;
}
.allWrap h3 {
	margin-bottom: 20px;
	height: 11px;
}
.allWrap ul li {
	padding-left: 8px;
	line-height: 20px;
	color: #444;
}
.allWrap ul.mgb50 {
	margin-bottom: 50px;
}
.left {
	float: left;
	border-right: 1px solid #eceae1;
	padding: 0 0 0 14px;
	height: 191px;
	height: 400px;
}
.mid {
	float: left;
	border-right: 1px solid #eceae1;
	width: 154px;
	padding: 0 0 0 20px;
	height: 400px;
}
.right {
	float: left;
	padding: 0 0 0 20px;
	width: 135px;
	height: 400px;
}
