@charset "UTF-8";

div {
    box-sizing: border-box;
}
/* 1900px 이상 */
@media screen and (min-width: 1900px) {
	.container {
	    width: 960px;
	    height: 600px;
	    margin: 0 auto;
	    margin-top: 100px;
	}
}
/* 1900px 이하 */
@media screen and (max-width: 1900px) {
	.container {
	    width: 960px;
	    height: 600px;
	    margin: 0 auto;
	    margin-top: 200px;
	}
}
.room-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.room {
    position: relative;
}
.room > img {
    width: 300px;
    height: 200px;
    /* 이미지를 뒤로 보내기 위해서 z-index값을 낮게 설정 */
    z-index: 1;
}
.room > .room-description {
    width: 300px;
    height: 200px;
    background-color: rgba(0,0,0,0.5);  /* 각 색상 값: 0~255, 투명도: 0(투명)~1(불투명) */
	/* 설명을 앞으로 보내기 위해서 z-index값을 크게 설정 */
	z-index: 2;
	position: absolute;
	top: 200px;
	text-align: center;
	color: white;
	padding-top: 20px;
	/*opacity: 0;  /* 투명해서 안 보인다! */
	display: none;  /* 안 보인다. 영역도 없다. */
	transition-property: all;  /* opacity, transform */
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.room > img:hover + .room-description {
    /*opacity: 1;  /* 보인다! */
	display: block;  /* 보인다. */
	transform: translateY(-200px);  /* 위로 200px 올라간다. */
}
