@charset "UTF-8";

.disabled{
	display: none;
}
.showLogin:hover{
	cursor: pointer;	
}
.hide{
	display:none;
}
.form {
	background-color: #4e3637;
	width: 498px;
	height: 300px;
	border-radius: 25px;
	border: 5px double #999;
	margin: 30px auto;
	color: white;
}
#closeLogin{
	position: absolute;
	top: 60px;
	right: 15%;
	color: white;
	cursor: pointer;
}
.form2 {
	width: 380px;
	min-width: 320px;
	height: 200px;
	margin: 60px auto;
	margin-left:20px;
}
.form3 {
	float: left;
}	
.form3 label {
	width: 100px;
	height: 20px;
	float: left;
}
.form4 {
	padding: 0px 0px 0px 70px;
}
#wrap {
	width: 600px;
	height: 500px;
	margin: 0 auto;
}
.clear {
	clear: both;
}
input[type="submit"] {
	float: left;
	/*  display:block; */
	height: 50px;
	background: #c69b80;
	border-radius: 5px;
	border: none;
	font-family: "맑은 고딕";
}
