@charset "UTF-8";

/* 1900px 이상 */
@media screen and (min-width: 1900px) {
	.container{
		margin: 0 auto;
		width: 800px;
		padding: 50px;
		text-align: center;
	}
}
/* 1900px 이하 */
@media screen and (max-width: 1900px) {
	.container{
		margin: 0 auto;
		margin-top: 100px;
		width: 800px;
		padding: 50px;
		text-align: center;
	}
}
.title{
	font-size: 15px;
	font-weight: 700;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}
.naming{
	font-size: 13px;
	font-weight: 600;
}
.search{
	margin: 20px 0;
}
.table{
	width: 700px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
#column{
	width: 150px;
	height: 30px;
}
.input_box{
	width: 300px;
	height: 30px;
	border: 1px solid black;
}
table.table {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: center;
	line-height: 1.5;
	border-top: 1px solid #ccc;
}
table.table > thead > tr {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}
table.table td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
.btn{
	width: 100px;
	height: 35px;
	background-color: #f1e3c4;
	border: none;
}
.btn:hover {
	cursor: pointer;
}
#notice{
	background: #f4ec99;
}
