@charset "UTF-8";

@media screen and (max-width: 768px) {
    #gnb > ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        overflow: hidden;
        background-color: navy;
        color: white;
    }
    #gnb > ul > li {
        float: left;
        padding: 10px 20px;
    }
    #gnb > ul > li:hover {
        background-color: lightgreen;
        color: black;
    }
}
@media screen and (min-width: 769px) {
    #container {
        overflow: hidden;
        width: 100%;
    }
    #container > #gnb {
        float: left;
        width: 10%;
    }
    #container > #content {
        float: left;
        width: 90%;
    }
    #gnb {
    	cursor: pointer;
    }
    #gnb > ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        background-color: navy;
        color: white;
    }
    #gnb > ul > li {
        padding: 10px 0;
        text-align: center;
    }
    #gnb > ul > li:hover {
        background-color: lightgreen;
        color: black;
    }
}
